<h2>{{project.projectName}}</h2>

<p style="color:brown">Description of the project:</p>
<p>{{project.projectDescription}}</p>

<p style="color:brown">Zone:</p>
<p>{{project.location}}</p>

<p style="color:brown">Plants:</p>
{{#each project.plantArray}}
    <li>Scientific Name:{{this.scientificName}}</li>
    <li>Common Name: {{this.commonName}}</li>
    <li>Type: {{this.plantType}}</li>
    <button><a href="/plants/{{this._id}}">see details</a></button>
{{/each}}

<br />

<a href="/center">Return to projects</a>