<h2>Project Dashboard</h2>


<a href="/project/create"> Create New Project</a>

<br />

<ul>
    {{#each projects}}
    <h4 style="color:brown">Name of the project: {{this.projectName}}</h4>
    <h4>Location: {{this.location}}</h4>
    <p>Description of the projects: {{this.projectDescription}}</p>
    <button><a href="/project/{{this._id}}">See details</a></button>
    <button><a href="/project/{{this._id}}/delete">Delete</a></button>
    <br />
    <br />
    {{/each}}
</ul>