<h2>{{plant.commonName}}</h2>

<h4>Scientific Name: {{plant.scientificName}}</h4>
<img src="{{plant.pictureUrl}}" />
<h4>Zone: {{plant.zoneMin}} to {{Oneplant.zoneMax}}</h4>
<p>Water: {{#each plant.water}}
    {{this}}
    {{/each}}
</p>
<p>Sun: {{#each plant.sun}}
    {{this}}
    {{/each}}
</p>
<p>Growth Rate: {{plant.growthRate}}</p>
<p>Description: {{plant.info}}</p>

<nav>
    <a href="/center">Save to favourites</a>
    <a href="/plants">Return</a>
    <button><a href="/center">Save to project</a></button>
</nav>