<h2>{{plant.commonName}}</h2>

<h4>Scientific Name: {{plant.scientificName}}</h4>
<img src="{{plant.pictureUrl}}" />
<h4>Location: {{plant.location}}</h4>
<p>Water: {{plant.water}}</p>
<p>Sun: {{plant.water}}</p>
<p>Growth Rate: {{plant.growthRate}}</p>
<p>Toxicity: {{plant.toxicity}}</p>
<p>Fertility Requirement: {{plant.fertilityRequirement}}</p>
<p>Bloom Period: {{plant.bloomPeriod}}</p>

<nav>
    <a href="/center">Save to favourites</a>
    <a href="/plants">Return</a>
    <button><a href="/plants/{{plant._id}}/save">Save to project</a></button>
</nav>